@tailwind base;
@tailwind components;
@tailwind utilities;

* { 
    padding: 0; 
    margin: 0; 
    box-sizing: border-box; 
}

@layer components { 
    .default_button { 
        @apply bg-light-orange border-none rounded-xl shadow-md px-2 py-1 text-sm hover:scale-125 transition-all duration-300 hover:font-semibold hover:text-white
    }

    .submit_button { 
        @apply bg-light-yellow border-none rounded-xl shadow-md px-2 py-1 text-sm hover:scale-125 transition-all duration-300 hover:font-semibold
    }

    .special_button { 
        @apply bg-red-900 rounded-xl px-2 text-white shadow-xl text-sm hover:scale-125 transition-all duration-300 hover:font-semibold hover:rounded-3xl
    }

    .input_label { 
        @apply flex flex-col my-2
    }

    .form_input { 
        @apply rounded-xl mx-4 px-4 py-1 outline-none font-satoshi
    }

    .form { 
        @apply flex flex-col bg-light-blue shadow-md ml-10 mr-40 my-10 p-5 rounded-2xl
    }

    .default_middle_section {
        @apply inset-x-1/2 inset-y-1/2 bg-light-blue -translate-x-1/2 -translate-y-1/2 py-8
    }

}